!src/test/resources/net/sf/okapi/lib/tkit/versions/dir2/net/sf/okapi/applications/ratel/Main.class
!src/test/resources/v1/net/sf/okapi/lib/tkit/versions/VersionClass.class
!src/test/resources/v2/net/sf/okapi/lib/tkit/versions/VersionClass.class
!src/test/resources/v3/net/sf/okapi/lib/tkit/versions/VersionClass.class